@charset "UTF-8";
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TTHakgyoansimYeohaengR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimYeohaengR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    line-height: 1;
    color: #333;
    background-color: #f8efe4;
}
.main {
    width: 1920px;
    margin: 0 auto;
    position: relative;
}
.main .video {
    width: 1920px;
    
    
}
.main .video video{
    width: 100%;
    
    object-fit: cover;
}
   

.main .header {
    width: 100%;
    height: 44px;
    font-family: 'GangwonEduPowerExtraBoldA';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
}
.main .header .left {
   display: flex;
   justify-content: space-between;
   margin-left: 360px;
   line-height: 44px;
}
.main .header .left a {
    margin-right: 15px;
}
.main .header .right {
    display: flex;
    justify-content: space-between;
    margin-right: 360px;
    line-height: 44px;
}
.main .header .right a {
    margin-left: 15px;
}
.main .logo {
    width: 100%;
    height: 130px;
    margin-top: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    
    
}

.main .logo img {
    width: 280px;
    height: 150px;
    object-fit: cover;
    margin-top: 50px;
}

.main .youtube {
    width: 200px;
    height: px;
    margin-left: 243px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 246px;
    color: #fff;

}
.main .youtube div img {
    width: 400px;
    height: 250px;
    
}
.main .youtube h2 {
    width: 500px;
    font-size: 52px;
    margin-top: 42px;
    font-family: 'TTHakgyoansimYeohaengR';
    font-weight: 200;
    
}
.main .youtube p {
    width: 500px;
    font-size: 20px;
    margin-top: 30px;
    line-height: 1.3;
    font-family: 'Pretendard-Regular';
    font-weight: 300;
}
.section01 {
    width: 1200px;
    margin: 0 auto;

}
.section01 p {
    font-size: 14px;
    margin-top: 150px;
    color: rgb(245, 8, 8);
    font-weight: 800;
    text-decoration: underline;
}
.section01 h1 {
    font-size: 48px;
    margin-bottom: 80px;
    font-family: 'Pretendard-Regular';
    margin-top: 10px;
    font-weight: 600;
    text-decoration: underline;
    color: #333;
    
}
.section01 .item01 {
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    
}
.section01 .item01 div {
    width: 280px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 20%;
    border: 3px solid #b9e7fc;
    
}
.section01 .item01 div img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 20%;
    transition: 3s;
}
.section01 .item01 div:hover img {
    transform: scale(1.1);
}

.section02 {
    width: 1920px;
    margin: 0 auto;
}
.section02 div {
    margin-top: 150px;
}
.section02 .img {
    object-fit: cover;
    
}

.section03 {
    width: 1200px;
    margin: 0 auto;
    
    
    }
.section03 p {
    font-size: 14px;
    margin-top: 150px;
    color: rgb(245, 8, 8);
    font-weight: 800;
    text-decoration: underline;
}
.section03 h1 {
    width: 1200px;
    font-size: 48px;
    
    font-family: 'Pretendard-Regular';
    text-decoration: underline;
    font-weight: 600;
    
}
.section03 .cont03 {
    width: 1200px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
    
    
}
.section03 .cont03 .item03 {
    width: 590px;
    
    display: flex;
    justify-content: space-between;
    
    overflow: hidden;
    border-radius: 50px;
    
    
}
.section03 .cont03 .item03 .image03 {
    width: 280px;
    height: 280px;
    border: 3px solid #b9e7fc;
    border-radius: 50px;
    overflow: hidden;

    

}
.section03 .cont03 .item03 .image03 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    transition: 3s;
}
.section03 .cont03 .item03 .text03 {
    width: 280px;
    height: 280px;
    font-family: 'Pretendard-Regular';
}
.section03 .cont03 .item03 .text03 h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Pretendard-Regular';
}
.section03 .cont03 .item03 .text03 strong {
    font-size: 24px;
    font-family: 'Pretendard-Regular';
    color: rgb(245, 8, 8);
    text-decoration: line-through;
    
}
.section03 .item03 div:hover img {
    transform: scale(1.1);
}
.section03 .cont03 .item03 .text03 h2 {
    font-size: 24px;
    line-height: -100px;
    text-decoration: underline;
    font-family: 'Pretendard-Regular';
    margin-top: 3px;
}

.section04 {
    width: 1200px;
    
    margin: 0 auto;
    
}
.section04 p {
    font-size: 14px;
    margin-top: 150px;
    color: rgb(245, 8, 8);
    font-weight: 800;
    text-decoration: underline;

}
.section04 h1 {
    font-size: 48px;
    margin-bottom: 50px;
    font-family: 'Pretendard-Regular';
    text-decoration: underline;
    font-weight: 600;
    color:#333;
}
.section04 .cont04 {
    width: 1200px;
    height: 585px;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    
}
.section04 .cont04 .item04 {
    width: 590px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
.section04 .cont04 .item04 .image04 {
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius: 10%;
    border: 3px solid #b9e7fc;

}
.section04 .cont04 .item04 .image04 img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 10%;
    transition: 3s;
}
.section04 .cont04 .item04 .text04 {
    width: 280px;
    height: 280px;
}
.section04 .cont04 .item04 .text04 h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Pretendard-Regular';
    font-weight: 300;
}
.section04 .cont04 .item04 .text04 strong {
    font-size: 24px;
    font-family: 'Pretendard-Regular';
    color: rgb(245, 8, 8);
    text-decoration: line-through;
}
.section04 .cont04 .item04 .text04 h2{
    margin-top: 3px;
    text-decoration: underline;
    font-family: 'Pretendard-Regular';
    font-size: 24px;
    
}
.section04 .cont04 .item04:hover .image04 img {
    transform: scale(1.1);
}
.section05 {
    width: 1200px;
    margin: 0 auto;
    
    
    
}
.section05 p {
    color: rgb(245, 8, 8);
    font-family: 'Pretendard-Regular';
    font-weight: 800;
    text-decoration: underline;

}
.section05 h1 {
    font-size: 48px;
    
    margin-bottom: 60px;
    font-family: 'Pretendard-Regular';
    text-decoration: underline;
    font-weight: 400;
    
}
.section05 .cont05 {
    width: 1200px;
    
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.section05 .cont05 div {
    width: 180px;
    
}
.section05 .cont05 div img {
    width: 100%;
    height: 180px;
    border-radius: 5%;
    transition: 3s;
}

.section05 .cont05 div:hover img {
    transform: rotateY(720deg);
}
.section06 {
    width: 1920px;
    margin: 0 auto;
    padding: 40px 230px;
    background-color: #333;
    color: #fff;
}
.section06 .cont06 {
    
    
    line-height: 1.5;
}
.section06 .nav ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
    
}
.section06 .nav ul li {
    margin-top: 5px;
}

.section06 .nav_text {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}
.section06 .icon {
    width: 330px;
    margin-left: 1100px;
    
    display: flex;
    justify-content: space-between;
}
.section06 .icon img {
    width: 40px;
    height: 40px;
    margin-bottom: 50px;
    border-radius: 20%;
}
    
    
